



.block {
  background-color: #aaa;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  float: left;
}

.block h1 {
  margin-top: 0px;
}

.block table {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 12px;
  border-collapse:collapse;
  background: white;
  text-align: left;
}

.block td {
  padding: 3px;
}

.block th {
  padding: 3px;
}


#cpu {
  overflow: hidden;
}

#gprs_container {
  float: left;
}

#pc_and_ir {
  float: right;
  margin-left: 10px;
  width: 240px;
  background: white;
  padding: 10px;
}

#pc_and_ir th {
  text-align: right;
}

#status {
  padding: 10px;
  font-size: 10px;
  
}
#status span {
  padding: 3px;
  border: 1px solid black;
}

#buttons {
  margin-top: 20px;
}


#inspector {
  width: 200px;
  background: white;
}
#inspector th {
  text-align: right;
}

.with_margin {
  margin: 10px;
}


#float-container {
	overflow: hidden;
}